---
import { Header } from "@/components/header";
import HeroSection from "@/components/hero-section.astro";
import FeaturedImageSection from "@/components/featured-image-section.astro";
import { ServicesSection } from "@/components/services-section";
import PhilosophySection from "@/components/philosophy-section.astro";
import { CTASection } from "@/components/cta-section";
import Footer from "@/components/footer.astro";
import MainLayout from "@/layouts/main.astro";
---

<MainLayout
  content={{
    title: "株式会社うたたねとまどろみ",
  }}
>
  <main class="min-h-screen">
    <Header client:load />
    <HeroSection />
    <FeaturedImageSection />
    <ServicesSection />
    <PhilosophySection />
    <CTASection />
    <Footer />
  </main>
</MainLayout>
